includes:
    - phpstan-baseline.neon
    - phpstan.conditional.php

parameters:
  level: 8
  paths:
    - lib
    - tests
  ignoreErrors:
    -
      message: '#^Dynamic call to static method XMLReader::XML\(\)\.$#'
      identifier: staticMethod.dynamicCall
