parameters:
	ignoreErrors:
		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/Deserializer/functions.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: lib/Deserializer/functions.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Element\\\\Base\\:\\:__construct\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: lib/Element/Base.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parseAttributes\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parseCurrentElement\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parseGetElements\\(\\) has parameter \\$elementMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parseGetElements\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parseInnerTree\\(\\) has parameter \\$elementMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Reader\\:\\:parseInnerTree\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Property Sabre\\\\Xml\\\\Reader\\:\\:\\$contextStack type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Reader.php

		-
			message: "#^Function Sabre\\\\Xml\\\\Serializer\\\\repeatingElements\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/functions.php

		-
			message: "#^Function Sabre\\\\Xml\\\\Serializer\\\\standardSerializer\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/functions.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Service\\:\\:expect\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Service.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Service\\:\\:parse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Service.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Service\\:\\:write\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Service.php

		-
			message: "#^Method Sabre\\\\Xml\\\\Writer\\:\\:writeElement\\(\\) has parameter \\$content with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Writer.php

		-
			message: "#^Parameter \\#3 \\$namespace of method XMLWriter\\:\\:startElementNs\\(\\) expects string, null given\\.$#"
			count: 1
			path: lib/Writer.php

		-
			message: "#^Property Sabre\\\\Xml\\\\Writer\\:\\:\\$adhocNamespaces type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Writer.php

		-
			message: "#^Property Sabre\\\\Xml\\\\Writer\\:\\:\\$contextStack type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Writer.php

		-
			message: "#^Property Sabre\\\\Xml\\\\ContextStackTest\\:\\:\\$stack has no type specified\\.$#"
			count: 1
			path: tests/Sabre/Xml/ContextStackTest.php
