<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  colors="true"
  bootstrap="../vendor/autoload.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  >
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">../lib/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Sabre_XML">
      <directory>.</directory>
    </testsuite>
  </testsuites>
</phpunit>
